<table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col"><h2>Categories</h2></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>		
                    <a href = "{{url_for('showItems', category_name = category.name)}}">
                        <h3>{{category.name}}</h3>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>