<!-- <html> 

<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body> -->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		
	<div class="row banner main">
				<div class="col-md-1"></div>
				<div class="col-md-11 padding-none">
					<h1>Catelogies</h1>
				</div>
	</div>
	<table style="width:100%">
	<thead>
		<th class='categoryTable'>
			Categories
		</th>
		<th>
			Latest Items
		</th>
	</thead>
	<tbody>
		<tr>
		<td class='itemsStyle' style="width:30%">
			{% for category in categories %}
			<a href = "{{url_for('showItems', category_name = category.name)}}"> <p>{{category.name}}</p></a>
		{% endfor %}
		</td>
		<td class='itemsStyle'>
			<a href="{{url_for('createItem') }}">Add new item</a>
			{% for item in latestItems %}
			<a href = #> <p>{{item.title}}</p></a>
			{% endfor %}
		</td>
		</tr>
	</tbody>
</table>

{% endblock %}
<!--</body>

</html>-->
